- name: disable default nodejs
  ansible.builtin.command: dnf module disable nodejs -y

- name: enable nodejs:20
  ansible.builtin.command: dnf module enable nodejs:20 -y

- name: install nodejs and mysql client
  ansible.builtin.dnf:
    name: "{{item}}"
    state: installed
  loop:
  - nodejs
  - mysql 

- name: create expense user
  ansible.builtin.user:
    name: expense

- name: run app pre-requisites
  tags:
  - deployment
  ansible.builtin.import_role:
    name: common
    tasks_from: app-pre-req

- name: install npm dependencies
  tags:
  - deployment
  ansible.builtin.command: npm install
  args:
    chdir: /app # commenting for using artifact from nexus

- name: copy backend service
  ansible.builtin.template:
    src: backend.service.j2
    dest: /etc/systemd/system/backend.service
  notify: 
  - daemon-reload

- name: enable backend service
  ansible.builtin.service:
    name: backend
    enabled: yes

- name: install python mysql dependencies
  ansible.builtin.pip:
    name: 
    - PyMySQL # to connect MYSQL DB from ansible
    - cryptography
    executable: pip3.9

- name: import data into mysql
  community.mysql.mysql_db:
    login_user: "{{ login_user }}"
    login_password: "{{ login_password }}"
    login_host: "{{ login_host }}"
    target: /app/schema/backend.sql
    state: import
    name: all

- name: restart backend service
  tags:
  - deployment
  ansible.builtin.service:
    name: backend
    state: restarted